.Cart-Special-BG {
  background-color: #e2e5e8;
  padding: 1rem;
}
.cart-item-mobile {
  display: none;
}
@media (max-width: 480px) {
  .cart-item-desktop {
    display: none;
  }
  .cart-item-mobile {
    display: block;
  }
  .product-img-mobile {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
}

.bg-Cart-Footer {
  background-color: rgb(237, 241, 243) !important;
}
